footer {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 1em;
  text-align: center;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content p {
  margin: 0.5em 0;
}

.footer-content a {
  color: #00f;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}

.social-icons {
  margin-top: 1em;
}

.social-icons a {
  color: white;
  margin: 0 10px;
  font-size: 1.5em;
  transition: transform 0.3s, color 0.3s;
}

.social-icons a:hover {
  transform: scale(1.2); /* Add scaling effect on hover */
  color: #00f;
}
