.homepage {
  text-align: center;
  padding: 20px;
  background: linear-gradient(
    135deg,
    #667eea,
    #764ba2
  ); /* Gradient background */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.page-title-container {
  margin-top: 0px; /* Adjust the margin to position the title higher */
}
